<div class="container-fluid page-padding">
	<div class="row justify-content-around">
		<div class="col-lg-5 col-md-5 co-sm-12">
			<app-employee-details [modelData]="editData"></app-employee-details>
		</div>
		<div class="col-lg-7 col-md-7 co-sm-12">
			<ng-container>
				<div class="table-responsive mt-3">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col" *ngFor="let item of headerList">{{item}}</th>
							</tr>
						</thead>
						<tbody *ngIf="dataList['count'] > 0">
							<tr *ngFor="let item of dataList?.rows" (click)="edit(item)">
								<td class="text-capitalize text-wrap">
									{{ item?.name }}
								</td>
								<td class="text-capitalize text-wrap">
									{{ item?.company}}
								</td>
								<td class="text-wrap">{{ item?.mobileNumber }}</td>
								<td class="text-wrap">{{ item?.email }}</td>
							</tr>
						</tbody>
						<tbody *ngIf="dataList['count'] === 0">
							<tr>
								<td class="text-center" [attr.colspan]="6">{{ OPTIONS?.noRecord }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</ng-container>
		</div>
	</div>
</div>